.info, .exito, .alerta, .error {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    border-color: blue;
    //margin: 10px 0px;
    
    margin-top: 35%;
    margin-left: 5%;
    margin-right: 23%;
    //width: 50%;
    padding:2.3% ;
    padding-left: 10%;
    border-color: #D8000C;
    border-style: solid;
    border-width: 2px;

    background-repeat: no-repeat;
    //background-position: 10px center;
    background-position: 2%;
    position:relative;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../Imagenes/Mensajes/info.png');
}
.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../Imagenes/Mensajes/exito.png');
}
.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../Imagenes/Mensajes/alerta.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../Imagenes/Mensajes/error.png');
}