<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Cindex</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.Cindex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CTrabajador</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDgp</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CDgp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CContrato</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHorario</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAutorizacion</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CAutorizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMenu</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CError</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDocumento</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRequerimiento</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CRequerimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CEmpleado</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CComentario</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFamiliar</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CFamiliar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCarrera_Universidad</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CCarrera_Universidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFoto</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CFoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roles</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPaso</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CPaso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CProceso</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CProceso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CTrabajador</servlet-name>
        <url-pattern>/trabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDgp</servlet-name>
        <url-pattern>/dgp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CContrato</servlet-name>
        <url-pattern>/contrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHorario</servlet-name>
        <url-pattern>/horario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAutorizacion</servlet-name>
        <url-pattern>/autorizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cindex</servlet-name>
        <url-pattern>/valida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMenu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CError</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDocumento</servlet-name>
        <url-pattern>/documento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRequerimiento</servlet-name>
        <url-pattern>/requerimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CEmpleado</servlet-name>
        <url-pattern>/empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CComentario</servlet-name>
        <url-pattern>/comentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFamiliar</servlet-name>
        <url-pattern>/familiar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCarrera_Universidad</servlet-name>
        <url-pattern>/carrera_universidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFoto</servlet-name>
        <url-pattern>/foto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roles</servlet-name>
        <url-pattern>/CRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPaso</servlet-name>
        <url-pattern>/paso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CProceso</servlet-name>
        <url-pattern>/proceso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
