<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>pe.edu.upeu.application.factory.Session_System</listener-class>
    </listener>
    <servlet>
        <servlet-name>Cindex</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.Cindex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CTrabajador</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CTrabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDgp</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CDgp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CContrato</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CHorario</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CAutorizacion</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CAutorizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CError</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CError</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDocumento</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRequerimiento</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CRequerimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CEmpleado</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CComentario</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFamiliar</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CFamiliar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCarrera_Universidad</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CCarrera_Universidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFoto</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CFoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Roles</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CRoles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPaso</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CPaso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDir_Puesto</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CDir_Puesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCentro_Costo</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CCentro_Costo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMenu</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVacaciones</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CVacaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Renuncias</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.C_Renuncias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFormato_Horario</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CFormato_Horario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRemuneracion</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CRemuneracion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CModulo</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CModulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CImprimir</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CImprimir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFormato_Plantilla</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CFormato_Plantilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPlantilla_Contractual</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CPlantilla_Contractual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CContrato_Archivo_Adjunto</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CContrato_Archivo_Adjunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFunciones</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CFunciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CFuncion</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CFuncion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reporte</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCarga_Academica</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CCarga_Academica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CDocumento_Trabajador</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CDocumento_Trabajador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CImpresion_Masiva</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CImpresion_Masiva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CTrabajador</servlet-name>
        <url-pattern>/trabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDgp</servlet-name>
        <url-pattern>/dgp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CContrato</servlet-name>
        <url-pattern>/contrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CHorario</servlet-name>
        <url-pattern>/horario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CAutorizacion</servlet-name>
        <url-pattern>/autorizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cindex</servlet-name>
        <url-pattern>/valida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CError</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDocumento</servlet-name>
        <url-pattern>/documento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRequerimiento</servlet-name>
        <url-pattern>/requerimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CEmpleado</servlet-name>
        <url-pattern>/empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CComentario</servlet-name>
        <url-pattern>/comentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFamiliar</servlet-name>
        <url-pattern>/familiar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCarrera_Universidad</servlet-name>
        <url-pattern>/carrera_universidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFoto</servlet-name>
        <url-pattern>/foto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Roles</servlet-name>
        <url-pattern>/CRoles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPaso</servlet-name>
        <url-pattern>/paso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDir_Puesto</servlet-name>
        <url-pattern>/Direccion_Puesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCentro_Costo</servlet-name>
        <url-pattern>/centro_costo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMenu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVacaciones</servlet-name>
        <url-pattern>/vacaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Renuncias</servlet-name>
        <url-pattern>/Renuncias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFormato_Horario</servlet-name>
        <url-pattern>/formato_horario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRemuneracion</servlet-name>
        <url-pattern>/remuneracion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CModulo</servlet-name>
        <url-pattern>/modulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CImprimir</servlet-name>
        <url-pattern>/Imprimir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFormato_Plantilla</servlet-name>
        <url-pattern>/formato_plantilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPlantilla_Contractual</servlet-name>
        <url-pattern>/plantilla_contractual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CContrato_Archivo_Adjunto</servlet-name>
        <url-pattern>/contrato_adjunto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFunciones</servlet-name>
        <url-pattern>/funciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CFuncion</servlet-name>
        <url-pattern>/funcion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reporte</servlet-name>
        <url-pattern>/reporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCarga_Academica</servlet-name>
        <url-pattern>/carga_academica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CDocumento_Trabajador</servlet-name>
        <url-pattern>/documento_trabajador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CImpresion_Masiva</servlet-name>
        <url-pattern>/impresion_masiva</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
</web-app>
