<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>CIndex</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CPrincipal</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CTrabajador</servlet-name>
        <servlet-class>pe.edu.upeu.application.web.controller.CTrabajador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CIndex</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CPrincipal</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CTrabajador</servlet-name>
        <url-pattern>/trabajador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
