  .text{
             font-size: 18px;
            width: 1024px;
            margin-left:auto;
            margin-right:auto;
            text-align: justify;
            padding: 30px;
            }