#caja{
    position: absolute;
    left: 50%;
    width: 480px;
    height: 270px;
    top: 200px;
    margin-left: -240px;
    background-image: url(../Imagenes/Login-Panel.png);   
}
#user{
    margin-left: 173px;
    margin-top: 90px;
    width: 250px;
    height: 20px;
    background: transparent;
}
#pass{
    margin-left: 173px;
    margin-top: 17px;
    width: 250px;
    height: 20px;
    background: transparent;
}
#botoncito{
    background-image: url(../Imagenes/botoncito.png);
    width: 125px;
    height: 35px;
    margin-left: 300px;
    margin-top: 30px;
}
