body {
    background: darkgrey;	
}

.inputModificado {
    margin: 10px 0px 10px 50px;
    clear: both;
}

.inputImagen {
    background: #ffcc99;
    opacity: 0.5;
    box-shadow: 0px 0px 5px black, inset 0 0px 5px 2px black;
    padding: 5px;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
    float: left;
    margin-top:  -2px;
}

.botonInputFileModificado {
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: 2px solid #666;
    padding-bottom: 2px;
    box-shadow: inset 0 0px 8px 2px black;
    width: 100px;
    margin-left: 180px;
}

.botonInputFileModificado:hover {   
    border: 2px solid #fff;  
    background-color: #333;
    color: #fff;
}

.botonInputFileModificado .inputImagenOculto {
    opacity: 0;
    position: absolute;
    margin-left: -125px;
    width: 225px;
}

.botonInputFileModificado .boton {
    text-align: center;
}