table, table td, table tr {
	padding:0px;
	border-spacing: 0px;
}

table {
	border:1px black solid;
	border-radius:5px;
	min-width:400px;
	font-family: Helvetica,Arial;
}

table td {
	padding:6px;
}

table tr:first-child td:first-child {
	border-radius:5px 0px 0px 0px;
}

table tr:first-child td:last-child {
	border-radius:0px 5px 0px 0px;
}

table tr:last-child td:first-child {
	border-radius:0px 0px 0px 5px;
}

table tr:last-child td:last-child {
	border-radius:0px 0px 5px 0px;
}

table td:not(:last-child) {
	border-right:1px #666 solid;
        
}


table tr:nth-child(2n) {
    background: #fff;
    font-size: 12px;
}

table tr:nth-child(2n+1){
    background: #e3f5fb;
    font-size: 12px;
}

table.header tr:not(:first-child):hover, table:not(.header) tr:hover {
    background: #26a1c9;
    color: #fff;
}

table:not(.header) tr {
	text-align: left;
}

table.header tr:first-child {
	color:#fff;
        background-color: #0499c9;
	border-bottom:1px #000 solid;
	text-align:left;
        font-size: 14px;
}

table.header tr:nth-child(n+2) {
	text-align: left;
}
a{
    color: #0d0c0c;
    text-decoration: none;
}