/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-dic-2016, 19:28:14
    Author     : JAIR
*/

.cont{
    margin: 0 auto;
}
.caja{
    box-shadow: 2px 2px 5px #cccccc;
    background-color: #ffffff;
}
.c_header{
    color: #ffffff;
    background-color: #3276b1;
    border-color: #3276b1;
}
table{
    border: 0px;
}