/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-dic-2016, 19:10:13
    Author     : JAIR
*/
 thead{
                background: #cccccc;
            }
            .form-control{
                margin-right:30%;
                margin-left: 30%;
                width: 35%;
            }
            label{
                margin-right:30%;
                margin-left: 30%;
            }
            .enviar{
                margin-right:30%;
                margin-left: 30%;
                margin-top: 10px;
                width: 35%;
            }
            .tabla{
                width: 90%;
                margin-left: 5%;
            }
            h1{
                padding-left: 5%;
            }
            .edit{
                margin: 3px;
                width: 80%;
            }
            .del{
                margin: 3px;
                width: 70%; 
            }
