.tab_up{

    margin:20px; 
    margin-top:80px;    
    width: 800px;
}
 .titulo{
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top:12px; 
            border-radius: 10px;
            background-color:#b3d3f5 ;
            width: 100%;
            height:40px;
            font-family: initial;
            font-size: 22px;
            text-align: center;
        }
        tr{
            height: 50px;
        }
        .imagen{
            margin-left: 50px;
            
            
        }