
a:link{
    text-decoration: none;
}
a{
    /* color: #0095cd; */
    text-decoration: none;
}


body { 
    //  font: 14px/1.4 Georgia, Serif; 
}
#page-wrap {
    //margin: 10px;
    border-radius: 10px;
}
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
    //width: 100%; 
    border-collapse: collapse; 
    //box-shadow: 10px 10px 20px #888888;   
    margin: 0.5%;
    text-align: center;
    // font-family: monospace;
    width: 95%;
    //max-width: 100%;

}
/* Zebra striping */

tr:nth-of-type(odd) { 
    background: #d8dcf7; 
}

tr:hover {
    background-color:#d8dcf7;
}
th { 
    text-align: center;
    background: #C5C5C5; 
    color: black; 
    font-weight: bold; 
}
td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: center; 
}



/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body { 
        padding: 0; 
        margin: 0; 
        width: 320px; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body { 
        width: 495px; 
    }
}

